# User specific
Automation Python.docx

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# System
.DS_Store
Thumbs.db
